@media (max-width: 1280px) {
  .reviews-card {
    width: 100vw;
  }
}

@media (max-width: 1185px) {
  #nav-menu li {
    font-size: 13px;
  }

  #login-link,
  #register-btn {
    font-size: 15px;
  }

  #reviews-img {
    height: 400px;
  }
}

@media (max-width: 1100px) {
  #header-content-1 {
    width: 22%;
  }
}

@media (max-width: 1024px) {
  header {
    padding-top: 0;
    margin-bottom: 100px;
  }

  header.menu-open .container {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-btn {
    display: flex;
    width: 24px;
    height: 24px;
    background-color: #ff2e63;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  #nav-btn span,
  #nav-btn span::before,
  #nav-btn span::after {
    display: block;
    width: 16px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 7px;
    transition: 0.5s;
  }

  #nav-btn span::before,
  #nav-btn span::after {
    content: "";
  }

  #nav-btn span::before {
    transform: translateY(-5px);
  }

  #nav-btn span::after {
    transform: translateY(2px);
  }

  #nav-btn.active {
    background-color: #ffffff;
  }

  #nav-btn.active span {
    height: 0px;
  }

  #nav-btn.active span::before {
    transform: rotate(45deg);
    background-color: #ff2e63;
    z-index: 2;
  }

  #nav-btn.active span::after {
    transform: rotate(-45deg) translateX(2px) translateY(-2px);
    background-color: #ff2e63;
    z-index: 2;
  }

  #header-content-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 9px;
    transition: 0.5s;
    margin-right: 0;
  }

  #header-content-1.menu-open {
    padding: 10px 16px 9px;
    background: #ff2e63;
    transition: 0.5s;
  }

  #header-content-1.menu-open #logo a span:first-child {
    color: #ffffff;
  }

  #header-content-1.menu-open #logo a span:nth-child(2) {
    color: #ffffff;
  }

  #header-content-2 {
    display: none;
  }

  #header-content-2.menu-open {
    padding: 50px 16px 0;
    margin: 0;
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    animation-name: show-header-mobile-menu;
    animation-duration: 0.5s;
    justify-content: flex-start;
  }

  @keyframes show-header-mobile-menu {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  #header-content-2.close {
    transform: translateX(-100%);
    transition: 0.5s;
  }

  #nav-menu {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 40px;
    row-gap: 30px;
  }

  #nav-menu li {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
  }

  #login-link {
    display: flex;
    order: 2;
  }

  #login-link,
  #register-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  #banner-content {
    max-width: 400px;
  }

  #banner-circle {
    width: 300px;
    height: 300px;
  }

  #banner-img {
    max-width: 500px;
  }

  .reviews-text-p {
    line-height: 22px;
    font-size: 19px;
  }

  #footer-menu {
    column-gap: 20px;
  }

  #footer-menu li {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #banner-container {
    position: relative;
    flex-direction: column;
  }

  #banner-content {
    margin-bottom: 50px;
    row-gap: 30px;
    align-items: center;
    text-align: center;
  }

  #banner-circle {
    width: 225px;
    height: 225px;
    margin-right: 0;
  }

  #banner-img-container {
    right: auto;
    bottom: -24px;
  }

  #competitions-heading {
    margin-bottom: 30px;
  }

  section#how {
    margin-bottom: 38px;
  }

  #how-heading {
    margin-bottom: 30px;
  }

  #how-content-blocks {
    flex-direction: column;
    row-gap: 44.5px;
  }

  .how-content-block {
    height: fit-content;
  }

  .how-arrow {
    transform: rotate(90deg);
    margin: 0;
  }

  .reviews-content {
    width: 100%;
    padding: 55px 16px 54px;
  }

  .reviews-img {
    display: none;
  }

  .container.footer-container {
    padding: 0 40px;
  }

  #footer-content {
    align-items: flex-start;
    flex-direction: column;
  }

  #footer-menu {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
  }

  #footer-logo {
    margin-bottom: 30px;
    margin-right: 0;
  }

  #footer-logo a {
    font-size: 40px;
    line-height: 40px;
  }

  #footer-menu li {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 425px) {
  #banner-container {
    align-items: flex-start;
  }

  #banner-content {
    align-items: flex-start;
    text-align: start;
  }

  #banner-circle {
    margin-left: 78px;
  }

  #banner-img-container {
    right: -50px;
  }
  h1 {
    font-size: 34.8936px;
    line-height: 42px;
  }
}

@media (max-width: 360px) {
  #banner-img-container {
    bottom: 0;
  }

  #banner-img {
    max-width: 425px;
    max-height: 170px;
  }
}

@media (max-width: 333px) {
  h2 {
    font-size: 29px;
    height: inherit;
    line-height: inherit;
  }
}
